body{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
body {
    background-image: url(bghh.jpeg);
}
#btn{
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 8px 10px black;
    transition: 0.5s;
}
#no{
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 8px 10px black;
    transition: 1s;
}
#btn{
    display: inline-block;
}
#no{
    display: inline-block;
}
#no:hover{
    background-color: green;
    box-shadow: 0px 16px 20px black;
}
button{
    font-size: 40px;
}
a{
    text-decoration: none;
}
